DATACAT_ADMIN_PASSWORD=changeme
DATACAT_EDITOR_URL=http://localhost:3000
DATACAT_EDITOR_VERSION=2.0.0
DATACAT_ISSUER=https://my.domain
DATACAT_PORT=3000
DATACAT_SECRET=mylongrandomlygeneratedsecret
DATACAT_VERSION=2.0.0
DATACAT_REST_API_VERSION=2.0.0
DATACAT_REST_API_PORT=3001
MAIL_HOST=mail
MAIL_PORT=2500
NEO4J_PASSWORD=changeme
